* {
    padding: 0;
    margin: 0;
}

html {
    color: rgb(244, 242, 235);
    font-size: 16px
}

.content {
    height: 100vh;
    width: 100vw;
    background-image: url(cove-view.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(15, 15, 15);
    height: 12%;
    box-shadow: 0px 1px 10px rgb(222, 130, 10);
    
}

.logo {
    margin-left: 5%;
}

.nav-bar {
    width: 30%;
    margin-right: 5%;
    height: 100%;
}

.nav-bar > ul {
    list-style: none;
}

.link {
    font-size: 1.6rem;
    font-weight: bolder;
    height: 35%;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-bottom: 3%;

}

.link:hover {
    background-color: rgb(222, 130, 10);
    color: whitesmoke;
    cursor: pointer;
    border-radius: 10px 10px 0 10px;
    
}

.active {
   background-color: rgb(222, 130, 10, .5);
    color: whitesmoke;
    border-radius: 10px 10px 0 10px;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    
}

.webpack {
    background-image: url(cove-view.png);
}

.footer {
    background-color: black;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px -.5px 3px rgb(222, 130, 10);
}

.social {
    margin-left: 5%;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about {
    
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 30%;
    font-weight: bolder;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30%;
    margin-right: 5%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76%;
    
}

.homeHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 130, 10, 0.548);
    height: 80%;
    width: 50%;
    border-radius: 5px;
}

.homeHero > * {
    margin: 20px 0px;
    text-shadow: 1px 1px 1px black;
}

.homeHeroTitle {
    font-size: 1.8rem;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    margin: 30px;
}

.homeHeroP {
    font-size: 1.3rem;
}

.menuHero {
    background-color: rgba(222, 130, 10, 0.548);
    height: 80%;
    width: 80%;
    border-radius: 5px;
    overflow: scroll;
    padding: 40px;
}

.pizzaContainer, .sidesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding: 5%;
}

.menuCard, .toppsCont{
    background-color: rgba(222, 130, 10);
    height: 10vh;
    width: 100%;
    
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.341);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 1px 1px 1px black;
    border: 1px whitesmoke dotted;

}

.pizzaTitle {

    margin-left: 5%;
    color: rgb(15, 15, 15);
    font-size: 4rem;
    text-shadow: 2px 2px 2px whitesmoke;
}

.toppingsHero {

    width: 100%;
    display: flex;
    justify-content: center;
}

.toppingsHeader {
    color: rgb(15, 15, 15);
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.toppsCont {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    margin: 2vw 5vw 80px 5vw;
    color:  whitesmoke;
}

.buildBuild {
    margin: 10px 0px 10px 0px;
}

.contactHero {
    background-color: rgba(222, 130, 10, 0.548);
    height: 80%;
    width: 80%;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    padding: 20px;
    text-shadow: 1px 1px 1px black;

}

.form {
    display: flex;
    flex-direction: column;
    
}

.form > input {
    margin: 10px 0px;
    line-height: 1.8rem;
    width: 95%;
}

.photoDiv {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#commentsInput {
    height: 100px;
    width: 95%;
}

#submit {
    margin-top: 20px;
    height: 40px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 1px 2px 2px whitesmoke;
}

